@font-face {
  font-family: "open-sans";
  src: url(assets/fonts/OpenSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

body {
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  font-size: 1.6rem;
}

.heading-primary {
  font-size: $font-size-large;
}

.heading-secondary {
  font-size: $font-size-medium;
}
