.u-center-childs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.u-m-top-lg {
  margin-top: 6rem;
}

.u-m-bottom-md {
  margin-bottom: 4rem;
}
